<a href="/">Go home</a>
<h1>Input</h1>
<% if(alert) {%>
    <p>Shortcut already used!</p>
<% } %>
<form action="/input" method="POST">
    <div>
        <label for="link">Wklej link</label>
        <input type="text" id="link" name="link" required>
    </div>
    <div>
        <label for="link">Skrócona nazwa</label>
        <input type="text" id="slink" name="slink">
    </div>
        <button type="submit">CUT LINK</button>
</form>