<h1>Input</h1>
<form action="/input" method="POST">
    <div>
        <label for="link">Wklej link</label>
        <input type="text" id="link" name="link" required>
    </div>
    <div>
        <label for="link">Skrócona nazwa</label>
        <input type="text" id="slink" name="slink" required>
    </div>
        <button type="submit">CUT LINK</button>
</form>